cfgv==3.5.0
distlib==0.4.0
filelock==3.25.2
identify==2.6.18
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
pathspec==1.0.4
platformdirs==4.9.4
pre_commit==4.5.1
python-discovery==1.2.1
PyYAML==6.0.3
ruff==0.15.8
types-requests==2.33.0.20260327
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.0
google-genai==1.69.0
openai==2.30.0
python-dotenv==1.2.2
pydantic==2.12.5
